.color{
    background: rgb(0, 0, 0);
    color: white;
    font-size: 20px;

}
.carousell{
    margin: 15px;
}

.tite{
    background-color: black;
    color: white;
    height: 60px;
}

.parr{
    padding-top: 15px;
    width: 55%;
    margin: auto;
    font-size: 20px;
    padding-bottom: 15px;
    color: white;
}

.footer{
    background-color: #000000;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.item{
    color: white;
}


